ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-family: 'Raleway', sans-serif;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;

}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}
a{
    color: black;
    text-decoration:none;
}
a:hover{
    cursor: pointer;
}

li{
    text-decoration: none;
    color: black;
}

#thelogo {

    display: block;
    margin-top: 0px;
    margin: 0 auto;

    position: absolute;

    right: 0;
    left:0;

    top: 10px;

    transform: translateX(50%);
}

#fourdogs {
    position: absolute;
}

#row-one{
    width:100%; 
    height: 400px;
    position:relative;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 92px;
    margin-right: 0px;
}

#firsttext {
    float: left;
    margin-left: 92px;
    padding-top: 20px;

}

#firstimage {
    width:100px; 
    right:40%; 
    height:400px; 
    position:absolute;

}

h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 64px;
    color: #004E89;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

#glizzies {
    position: relative;
    bottom: 10px;
}

button {
    background-color: #FF7F51;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:600;
    font-family: 'Raleway', sans-serif;
    border-radius: 32px;
    cursor: pointer;
}

#second-image {
    position: relative;
    margin-left: 0%
}

#dream {
    width: 535px;
    line-height: 19px;
}

#second-text{
    position: relative;
    margin-left:50%;
}

#row-two{
    height: 397px;
}

h2{
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
color:#FF7F51;
}

#address{
    margin-left: 32px;
    float: left;
    margin-right: 60px;
}

#hours {
    float: left;
    margin-right: 240px;
}

#address-text{
    font-size: 24px;
    font-weight: 900;
}

#hours-text{
    font-size: 24px;
    font-weight: 900;
}

#topdog1{
position: absolute;
width: 190px;
height: 346px;
left: -60.6px;
top: 430.03px;
transform: rotate(35.26deg);
}

#topdog2{
position: absolute;
width: 190px;
height: 346px;
left: 1301.63px;
top: 660px;
transform: matrix(-0.8, 0.6, 0.6, 0.8, 0, 0);
}


#topdog6{
position: absolute;
width: 190px;
height: 346px;
left: 1301.63px;
top: 1401px;
transform: matrix(-0.8, 0.6, 0.6, 0.8, 0, 0);
}

#topdog3{
position: absolute;
width: 190px;
height: 346px;
left: 458.69px;
top: 1264px;
transform: rotate(17.44deg);
}

.menurow{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 77px;
}

#parent {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 36px;
align-items: center;
}

#menuphrase{
    position: absolute;
width: 1408.95px;
height: 658.57px;
left: -132px;
top: 170px;

}

.menuitem{
    width: 384px;
height: 558px;
}